In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/INTACT_df.csv')
print(df.columns)
df.head()

Index(['Gender', 'Age', 'Cohab_alone', 'Cohab_partner', 'Cohab_child',
       'Occupation', 'Ethnicity', 'Education', 'Housing', 'Isolation',
       'Pet_ownership', 'Animal_dog', 'Animal_cat', 'Animal_small',
       'Animal_bird', 'Animal_fish', 'Animal_reptile', 'Animal_amphib',
       'Animal_horse', 'Animal_farm', 'Animal_other', 'Animal_amount',
       'Non_pet', 'Animal_addition', 'Animal_consid', 'Animal_role',
       'Animal_closest', 'CCA_companion', 'CCA_care', 'CCA_activity',
       'CCA_constancy', 'CCA_needed', 'CCA_play', 'CCA_love', 'CCA_comfort',
       'CCA_watch', 'CCA_loved', 'CCA_trust', 'CCA_family', 'Worry_financial',
       'Worry_food', 'Worry_vet', 'Worry_ill', 'Worry_exercise', 'Worry_covid',
       'Worry_work', 'Worry_routine', 'Worry_other', 'Worry_none',
       'Worry_other_text', 'Givingup_animal', 'Animal_emotion',
       'Animal_active', 'Animal_social', 'Animal_family_pos',
       'Animal_family_neg', 'Animal_without', 'Animal_not', 'SWEMWBS_optim',
       'SWEMWBS_useful', 'SWEMWBS_relaxed', 'SWEMWBS_dealing',
       'SWEMWBS_clearly', 'SWEMWBS_people', 'SWEMWBS_mind', 'MHI_s_nervous',
       'MHI_s_down', 'MHI_s_calm', 'MHI_s_blue', 'MHI_s_happy',
       'MHI_b_nervous', 'MHI_b_down', 'MHI_b_calm', 'MHI_b_blue',
       'MHI_b_happy', 'UCLA_s_companion', 'UCLA_s_leftout', 'UCLA_s_isolated',
       'UCLA_b_companion', 'UCLA_b_leftout', 'UCLA_b_isolated',
       'Social_familyfriends', 'Activities_birds', 'Activities_wildlife',
       'Activities_watching', 'Activities_working', 'Activities_riding',
       'Activities_farm', 'Activities_webcam', 'Activities_other',
       'Activities_time'],
      dtype='object')

,Gender,Age,Cohab_alone,Cohab_partner,Cohab_child,Occupation,Ethnicity,Education,Housing,Isolation,...,Social_familyfriends,Activities_birds,Activities_wildlife,Activities_watching,Activities_working,Activities_riding,Activities_farm,Activities_webcam,Activities_other,Activities_time
0,2,5,0,0,0,,1,,2,0,...,,,,,,,,,,
1,1,2,1,0,0,,1,,2,1,...,,,,,,,,,,
2,2,2,1,0,0,,1,,1,0,...,,,,,,,,,,
3,1,2,1,0,0,,1,,1,0,...,,,,,,,,,,
4,2,3,0,0,0,,1,,1,0,...,,,,,,,,,,

In [3]:
# creating index for used qualification

In [9]:
dff = [df['Gender' == 1]]
len(dff)

KeyError: False