In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/INTACT_df.csv')
print(df.columns)
df.head()

Index(['Gender', 'Age', 'Cohab_alone', 'Cohab_partner', 'Cohab_child',
       'Occupation', 'Ethnicity', 'Education', 'Housing', 'Isolation',
       'Pet_ownership', 'Animal_dog', 'Animal_cat', 'Animal_small',
       'Animal_bird', 'Animal_fish', 'Animal_reptile', 'Animal_amphib',
       'Animal_horse', 'Animal_farm', 'Animal_other', 'Animal_amount',
       'Non_pet', 'Animal_addition', 'Animal_consid', 'Animal_role',
       'Animal_closest', 'CCA_companion', 'CCA_care', 'CCA_activity',
       'CCA_constancy', 'CCA_needed', 'CCA_play', 'CCA_love', 'CCA_comfort',
       'CCA_watch', 'CCA_loved', 'CCA_trust', 'CCA_family', 'Worry_financial',
       'Worry_food', 'Worry_vet', 'Worry_ill', 'Worry_exercise', 'Worry_covid',
       'Worry_work', 'Worry_routine', 'Worry_other', 'Worry_none',
       'Worry_other_text', 'Givingup_animal', 'Animal_emotion',
       'Animal_active', 'Animal_social', 'Animal_family_pos',
       'Animal_family_neg', 'Animal_without', 'Animal_not', 'SWEMWBS_optim',
       'SWEMWBS_useful', 'SWEMWBS_relaxed', 'SWEMWBS_dealing',
       'SWEMWBS_clearly', 'SWEMWBS_people', 'SWEMWBS_mind', 'MHI_s_nervous',
       'MHI_s_down', 'MHI_s_calm', 'MHI_s_blue', 'MHI_s_happy',
       'MHI_b_nervous', 'MHI_b_down', 'MHI_b_calm', 'MHI_b_blue',
       'MHI_b_happy', 'UCLA_s_companion', 'UCLA_s_leftout', 'UCLA_s_isolated',
       'UCLA_b_companion', 'UCLA_b_leftout', 'UCLA_b_isolated',
       'Social_familyfriends', 'Activities_birds', 'Activities_wildlife',
       'Activities_watching', 'Activities_working', 'Activities_riding',
       'Activities_farm', 'Activities_webcam', 'Activities_other',
       'Activities_time'],
      dtype='object')

,Gender,Age,Cohab_alone,Cohab_partner,Cohab_child,Occupation,Ethnicity,Education,Housing,Isolation,...,Social_familyfriends,Activities_birds,Activities_wildlife,Activities_watching,Activities_working,Activities_riding,Activities_farm,Activities_webcam,Activities_other,Activities_time
0,2,5,0,0,0,,1,,2,0,...,,,,,,,,,,
1,1,2,1,0,0,,1,,2,1,...,,,,,,,,,,
2,2,2,1,0,0,,1,,1,0,...,,,,,,,,,,
3,1,2,1,0,0,,1,,1,0,...,,,,,,,,,,
4,2,3,0,0,0,,1,,1,0,...,,,,,,,,,,

In [2]:
# creating index for used qualification
Gender = df.groupby(['Gender']).size()
Gender

Gender
1    1222
2    4657
3      36
4      11
dtype: int64

In [3]:
# According to the results section of the paper itself
# 1222 participants were male
# 4657 participants were female
# 36 participants described themselves in another way
# 11 participants rather didnt say
# conclusion: 1=male, 2=female, 3=divers, 4=rathernotanswered

In [4]:
Age = df.groupby(['Age']).size()
Age

Age
1     420
2    1040
3     994
4    1409
5    1313
6     418
7     332
dtype: int64

In [5]:
# According to the results
# 18-24 > 420  = 1 
# 25-34 > 1040 = 2
# 35-44 > 944  = 3
# 45-54 > 1409 = 4
# 55-64 > 1313 = 5
# 65-70 > 418  = 6
#  > 70 > 332  = 7

In [6]:
Ethni = df.groupby(['Ethnicity']).size()
Ethni

Ethnicity
1    5739
2      64
3      32
4       8
5      11
6       2
7      16
8      54
dtype: int64

In [7]:
# According to the results
# 1 = white (5739) != 5742
# 2 = mixed/multiple ethnic (64) != 67
# 3 = asian/asianbritish (32)
# 4 = Black/african/caribbean/blackbritish (8) != 6
# 5 = chinese (11) != 8
# 6 = arab (2) != 4
# 7 = other ethnicity (16) != 15
# 8 = prefer not to say (54) != 52

In [8]:
Education = df.groupby(['Education']).size()
Education

Education
      535
1     770
2     340
3     948
4    1828
5    1175
6     154
7     176
dtype: int64

In [9]:
# According to the results
# 1 = GCSE/O-level/CSE
# 2 = Vocational qualification
# 3 = A-level or equivalent
# 4 = Bachelors's degree or equivalent
# 5 = Masters/PhD or equivalent
# 6 = no formal qualifications
# 7 = other

In [10]:
Employment_status = df.groupby(['Occupation']).size()
Employment_status

Occupation
       535
1      140
10     515
2      803
3     1545
4      277
5      619
6      100
7      255
8      903
9      234
dtype: int64

In [11]:
# According to the results
# self-employed working outside of the home
# self-employed working from home
# employed working outside of the home
# employed working from home
# furloughed due to COVID19
# redundant due to COVID19
# unemployed
# retired

In [12]:
Pet = df.groupby(['Pet_ownership']).size()
print(Pet)

Pet_ownership
       53
0     550
1    5323
dtype: int64

In [13]:
# according to the results 
# n=5323 participants did have at least one companion animal
# 1 = Yes ; 0 = No
# not labelled counts are not having an animal according to the n=603 stated in the paper

In [14]:
dff = df[df["Pet_ownership"] == "1"]
gender_age = dff.groupby(['Gender', 'Age']).size()
gender_dog = dff.groupby(['Gender', 'Animal_dog']).size()
gender_cat = dff.groupby(['Gender', 'Animal_cat']).size()
gender_fish = dff.groupby(['Gender', 'Animal_fish']).size()

In [15]:
count_dog = dff[dff['Animal_dog'] == "1"].count()
count_cat = dff[dff['Animal_cat'] == "1"].count()
count_fish = dff[dff['Animal_fish'] == "1"].count()

In [16]:
print("n accompanied by a dog: ", count_dog.iloc[0])
print("n accompanied by a cat: ", count_cat.iloc[0])
print("n accompanied by a fish: ", count_fish.iloc[0])

n accompanied by a dog:  3719
n accompanied by a cat:  2340
n accompanied by a fish:  485

In [18]:
y = (df['Pet_ownership'] == 1)
feature_names = [col for col in df.columns if df[col].dtype in [np.int64, np.float64]]
x = df[feature_names]
print(x.shape)
x.head()

(5926, 8)

,Gender,Age,Cohab_alone,Cohab_partner,Cohab_child,Ethnicity,Housing,Isolation
0,2,5,0,0,0,1,2,0
1,1,2,1,0,0,1,2,1
2,2,2,1,0,0,1,1,0
3,1,2,1,0,0,1,1,0
4,2,3,0,0,0,1,1,0