In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/INTACT_dataset_converted.csv')
print(df.columns)
df.head()

Index(['Gender', 'Age', 'Cohab_alone', 'Cohab_partner', 'Cohab_child',
       'Occupation', 'Ethnicity', 'Education', 'Housing', 'Isolation',
       'Pet_ownership', 'Animal_dog', 'Animal_cat', 'Animal_small',
       'Animal_bird', 'Animal_fish', 'Animal_reptile', 'Animal_amphib',
       'Animal_horse', 'Animal_farm', 'Animal_other', 'Animal_amount',
       'Non_pet', 'Animal_addition', 'Animal_consid', 'Animal_role',
       'Animal_closest', 'CCA_companion', 'CCA_care', 'CCA_activity',
       'CCA_constancy', 'CCA_needed', 'CCA_play', 'CCA_love', 'CCA_comfort',
       'CCA_watch', 'CCA_loved', 'CCA_trust', 'CCA_family', 'Worry_financial',
       'Worry_food', 'Worry_vet', 'Worry_ill', 'Worry_exercise', 'Worry_covid',
       'Worry_work', 'Worry_routine', 'Worry_other', 'Worry_none',
       'Worry_other_text', 'Givingup_animal', 'Animal_emotion',
       'Animal_active', 'Animal_social', 'Animal_family_pos',
       'Animal_family_neg', 'Animal_without', 'Animal_not', 'SWEMWBS_optim',
       'SWEMWBS_useful', 'SWEMWBS_relaxed', 'SWEMWBS_dealing',
       'SWEMWBS_clearly', 'SWEMWBS_people', 'SWEMWBS_mind', 'MHI_s_nervous',
       'MHI_s_down', 'MHI_s_calm', 'MHI_s_blue', 'MHI_s_happy',
       'MHI_b_nervous', 'MHI_b_down', 'MHI_b_calm', 'MHI_b_blue',
       'MHI_b_happy', 'UCLA_s_companion', 'UCLA_s_leftout', 'UCLA_s_isolated',
       'UCLA_b_companion', 'UCLA_b_leftout', 'UCLA_b_isolated',
       'Social_familyfriends', 'Activities_birds', 'Activities_wildlife',
       'Activities_watching', 'Activities_working', 'Activities_riding',
       'Activities_farm', 'Activities_webcam', 'Activities_other',
       'Activities_time'],
      dtype='object')

,Gender,Age,Cohab_alone,Cohab_partner,Cohab_child,Occupation,Ethnicity,Education,Housing,Isolation,...,Social_familyfriends,Activities_birds,Activities_wildlife,Activities_watching,Activities_working,Activities_riding,Activities_farm,Activities_webcam,Activities_other,Activities_time
0,2,5,0,0,0,,1,,2,0,...,,,,,,,,,,
1,1,2,1,0,0,,1,,2,1,...,,,,,,,,,,
2,2,2,1,0,0,,1,,1,0,...,,,,,,,,,,
3,1,2,1,0,0,,1,,1,0,...,,,,,,,,,,
4,2,3,0,0,0,,1,,1,0,...,,,,,,,,,,

In [2]:
# creating index for used quantification
Gender = df.groupby(['Gender']).size()
Gender

Gender
1    1222
2    4657
3      36
4      11
dtype: int64

In [3]:
# According to the results
# 1 = 1222 **male
# 2 = 4657 **female
# 3 = 36   **another way
# 4 = 11   **rather not say

# results match the original data

In [4]:
Age = df.groupby(['Age']).size()
Age

Age
1     420
2    1040
3     994
4    1409
5    1313
6     418
7     332
dtype: int64

In [5]:
# According to the results
# 1 = 420  **18-24 
# 2 = 1040 **25-34
# 3 = 944  **35-44
# 4 = 1409 **45-54
# 5 = 1313 **55-64
# 6 = 418  **65-70
# 7 = 332  ** > 70

# results match the original data

In [6]:
Ethni = df.groupby(['Ethnicity']).size()
Ethni

Ethnicity
1    5739
2      64
3      32
4       8
5      11
6       2
7      16
8      54
dtype: int64

In [7]:
# According to the results
# 1 = 5742 **white
# 2 = 67   **mixed/multiple ethnic
# 3 = 32   **asian/asianbritish
# 4 = 6    **black/african/caribbean/blackbritish
# 5 = 8    **chinese
# 6 = 4    **arab
# 7 = 15   **other ethnicity
# 8 = 52   **prefer not to say

## results 1,2,4,5,6,7,8 do not match the original data

In [8]:
Education = df.groupby(['Education']).size()
Education

Education
      535
1     770
2     340
3     948
4    1828
5    1175
6     154
7     176
dtype: int64

In [9]:
# According to the results
# 1 = 770  **GCSE/O-level/CSE 
# 2 = 340  **Vocational qualification
# 3 = 988  **A-level or equivalent
# 4 = 2073 **Bachelors's degree or equivalent
# 5 = 1425 **Masters/PhD or equivalent
# 6 = 154  **no formal qualifications
# 7 = 176  **other

## results 3,4,5 do not match the original data

In [10]:
Employment_status = df.groupby(['Occupation']).size()
Employment_status

Occupation
       535
1      140
10     515
2      803
3     1545
4      277
5      619
6      100
7      255
8      903
9      234
dtype: int64

In [11]:
# According to the results
# 1 = 140  **self-employed working outside of the home
# 2 = 903  **self-employed working from home
# 3 = 1745 **employed working outside of the home
# 4 = 362  **employed working from home
# 5 = 682  **furloughed due to COVID19
# 6 = 100  **redundant due to COVID19
# 7 = 255  **unemployed
# 8 = 990  **retired
# 9 = 234  ** student
# 10= 515  ** other

## the results 2,3,4,5,8 do not match the original data

In [12]:
Housing = df.groupby(['Housing']).size()
Housing

Housing
1    2392
2    1802
3     332
4     898
5     164
6     338
dtype: int64

In [13]:
# According to the results
# 1 = 2360 **own house with a mortgage
# 2 = 1826 **owned outright
# 3 = 336  **rented from local authority
# 4 = 888  **rented from private landlord
# 5 = 167  **belongs to housing association
# 6 = 349  **other

## the results do not match the original data

In [14]:
Pet = df.groupby(['Pet_ownership']).size()
Pet

Pet_ownership
       53
0     550
1    5323
dtype: int64

In [15]:
# according to the results 
# n=5323 participants did have at least one companion animal

# not sure about the n=53 with out label 
# 1 = Yes ; 0 = No
# not labelled counts are not having an animal according to the n=603 stated in the paper

In [16]:
Isolation = df.groupby(['Isolation']).size()
Isolation

Isolation
0    3710
1    2216
dtype: int64

In [17]:
# according to the results
# 0 = 3707 **not socially isolating
# 1 = 2219 **socially isolating

## the results do not match the original data

In [18]:
Cohab = df.groupby(['Cohab_alone']).size()
print(Cohab)

Cohab_partner = df.groupby(['Cohab_partner']).size()
print(Cohab_partner)

Cohab_ = df.groupby(['Cohab_child']).size()
print(Cohab_)

Cohab_alone
0    4845
1    1081
dtype: int64
Cohab_partner
0    2296
1    3630
dtype: int64
Cohab_child
0    4676
1    1250
dtype: int64

In [19]:
# data structure not obvious due to the results
# wrap up

# Cohab_alone: 0=no, 1=yes
# Cohab_partner: 0=no, 1=yes
# Cohab_child: 0=no, 1=yes

In [20]:
dff = df[df["Pet_ownership"] == "1"]
gender_age = dff.groupby(['Gender', 'Age']).size()
gender_dog = dff.groupby(['Gender', 'Animal_dog']).size()
gender_cat = dff.groupby(['Gender', 'Animal_cat']).size()
gender_fish = dff.groupby(['Gender', 'Animal_fish']).size()

In [21]:
count_dog = dff[dff['Animal_dog'] == "1"].count()
count_cat = dff[dff['Animal_cat'] == "1"].count()
count_fish = dff[dff['Animal_fish'] == "1"].count()

In [22]:
print("n accompanied by a dog: ", count_dog.iloc[0])
print("n accompanied by a cat: ", count_cat.iloc[0])
print("n accompanied by a fish: ", count_fish.iloc[0])

n accompanied by a dog:  3719
n accompanied by a cat:  2340
n accompanied by a fish:  485

In [23]:
print("gender and age ratio: ", gender_age)

gender and age ratio:  Gender  Age
1       1        53
        2       116
        3       133
        4       244
        5       314
        6       117
        7        85
2       1       275
        2       743
        3       745
        4      1067
        5       909
        6       267
        7       216
3       1        12
        2         9
        3         2
        4         3
        5         2
        7         2
4       1         1
        2         3
        4         5
dtype: int64

## Counterchecking results with Pandas Library _spss_converter_

In [24]:
#!pip install spss_converter

In [25]:
import spss_converter

In [26]:
dff, metadata = spss_converter.to_dataframe('data/INTACT_dataset_OSF.sav')
dff

,Gender,Age,Cohab_alone,Cohab_partner,Cohab_child,Occupation,Ethnicity,Education,Housing,Isolation,...,Social_familyfriends,Activities_birds,Activities_wildlife,Activities_watching,Activities_working,Activities_riding,Activities_farm,Activities_webcam,Activities_other,Activities_time
0,2.0,5.0,0.0,0.0,0.0,NaN,1.0,NaN,2.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2.0,1.0,0.0,0.0,NaN,1.0,NaN,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,2.0,1.0,0.0,0.0,NaN,1.0,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,2.0,1.0,0.0,0.0,NaN,1.0,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,3.0,0.0,0.0,0.0,NaN,1.0,NaN,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5921,1.0,4.0,0.0,1.0,1.0,3.0,1.0,5.0,1.0,1.0,...,6.0,1.0,1.0,1.0,NaN,NaN,1.0,NaN,NaN,5.0
5922,2.0,4.0,0.0,0.0,1.0,5.0,1.0,1.0,2.0,0.0,...,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0
5923,1.0,5.0,1.0,0.0,0.0,2.0,1.0,2.0,5.0,1.0,...,2.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,5.0
5924,1.0,5.0,1.0,0.0,0.0,6.0,1.0,5.0,2.0,0.0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5925,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [27]:
print("counterchecking results with imported library")
dff.groupby('Gender').size()

counterchecking results with imported library

Gender
1.0    1222
2.0    4657
3.0      36
4.0      11
dtype: int64

In [28]:
print("counterchecking results of ethnicity")
dff.groupby(['Ethnicity']).size()

counterchecking results of ethnicity

Ethnicity
1.0    5739
2.0      64
3.0      32
4.0       8
5.0      11
6.0       2
7.0      16
8.0      54
dtype: int64

In [29]:
# results do match the results from pspp csv file

In [30]:
print("counterchecking results of housing")
df.groupby(['Housing']).size()

counterchecking results of housing

Housing
1    2392
2    1802
3     332
4     898
5     164
6     338
dtype: int64

In [31]:
# results do match the results from pspp csv file

In [35]:
print("calculation from converted csv file using pandas library")
print(Pet)
print("counterchecking results of pet ownership as one row was not explicit")
print("using spss_converter library")
dff.groupby(['Pet_ownership']).size()

calculation from converted csv file using pandas library
Pet_ownership
       53
0     550
1    5323
dtype: int64
counterchecking results of pet ownership as one row was not explicit
using spss_converter library

Pet_ownership
0.0     550
1.0    5323
dtype: int64

## Observings
- calculations differ a lot from the original dataset
- the original data was not able to reconstruct with tools at hand